

body {
	 background-color:#e0e0e0;
	 z-index: -2;
}
a.link .main_menu{
margin-top:10%;
color:white;
height:100%;
}
a.link {
margin-top:0%;
color:white;
height:100%;
}
div.circle { 
	margin:0 auto;
	width: 51%; 
	height: 51%; 
	background: #50A6C2;
	margin-top : 5%;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px; 
	transition: all .3s ease-in-out;
	}
	
div.Active{

	margin:0 auto;
	width: 51%; 
	height: 50%; 
	background:#FF6600;
	margin-top : 5%;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px; 
	border-top: thick solid #FF6600;
	
	}



#fish_for_news_logo {
 background-image: url("../images/FNFLOGO.jpg");
 background-size:contain;
 background-repeat: no-repeat; 
 float:left;
 height:100px;
width: 15%;
position:relative;
margin-top: 0px;
margin-left:25px;
}
#persistent_logo {

float:right;
background-image: url("../images/PLOGO.jpg");
background-repeat: no-repeat; 
width: 15%;
height: 100px;
margin-top: 0px;
margin-right:2%;
position:relative;
 background-size: contain;
 
}
#footer{
background-image: url("../images/footer.jpg");
background-size: 100% 100%;
background-repeat: no-repeat; 
height:250px;
width:100%;

}
.activeLine{

 border-top: thick solid #FF6600;
}
a.Active{
background-color:#e0e0e0;
color:red;
}
i.fa{
padding:15%;
 line-height: 100%;

position:relative;
color:white;
}

#main-1 { 
margin-top:0%;
background-size:contain;
background: url("../images/header.jpg"); 
background-repeat: repeat-x ;
width:100%;
height:30%;
margin:0%;
padding:0%;
	background-color:#1A88E1; 

}
.container
{	 
	margin-top:0px;
	width:90%;
	height:80%;
	-webkit-box-shadow: 0px 40px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 40px 9px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 40px 9px 0px rgba(0,0,0,0.75);
	z-index: -1;
	padding:0%;

	
}
div.col-sm-2{

height:80%;
width:150px;
margin:5px;
text-align:center;

}
#nav-header.row{
margin-left:110px;	
padding :0px;
margin-top: 0px;
height:50%;
width:100%;	
}
#homeimage{
background-image: url("../images/10gloriousyears.jpg");
background-size:100%100%;
background-repeat: no-repeat; 
width:100%;
height:30%;
}
.page-header{
height:100%;
margin:0%;
margin-left:0%;
padding : 0%;
}

.top-header{
margin-top:0%;
height:65px;

}

.header{
height:40%;
padding: 0px;
}

.article
{
margin-top:0px;
height:100%;
border-color:  #ffff;
background-color:white;
padding:0px;
}

.nav li{
	width:20%;
	text-align:left;
}
.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.2); }
.circle:hover { transform: scale(1.2); }

table, td, th {
    border: 2px solid #50A6C2;
	
}
td{
	height:14%;
	width:8%;
	text-align:center;
	font-size: 200%;	
}